# Ignorar ejecutables compilados sin extensión (Linux / Mac)
*
!*.cpp
!*.md
!*.gitignore
!*.toml
!*.lock
!*/

# Si llegas a compilar en Windows (ignorar .exe)
*.exe
*.o
*.out

# Ignorar carpetas de configuración del sistema
.DS_Store
